body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    background-size: cover;
    background-attachment: fixed;
 }
 
 
 header {
    box-shadow: 0px 0px 20px rgba(155, 151, 151, 0.1);
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
 }
 
 
 header img {
    max-width: 130px; /* 150 */
    height: auto;
    display: block;
    margin: 0 auto;
    /* display: inline-block; */
    float: left;
 }
 
 
 .image {
    padding-top: 5px;
    max-width: 40px; /* 57 */
    /* display: inline-block; */
    float: right;
    margin-right: 35px;
   
 }
 
 
 .image:hover {
    transform: scale(1.1); /* Aumenta o tamanho do ícone em 10% */
    transition: 0.5s;
 }
 
 
 .carrinho-link {
    position: relative;
    display: inline-block;
    left: 1575px;
 }
 
 
 .quantidade-no-carrinho {
    position: absolute;
    top: 6px;
    right: 37px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    transform: translate(50%, -50%);
 }
 
 
 
 
 .carrinho {
    display: blox;
    /* flex-direction: column; */
    justify-content: center;
    align-items: column;
    background-color: #b2eed9;
    /* margin-left: 10%;
    margin-right: 10%; */
    padding-top: 170px;
 }
 
 
 /* .carrinho div {
    padding: 10px;
 } */
 
 
 
 
 .produto {
    /* justify-content: space-between; */
    /* display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    width: 70%;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(159, 162, 163, 0.1); */
    justify-content: center;
    /* align-items: center; */
    display: flex;
    background-color: #ffffff;
    border-radius: 12px;
    width: 65%;
    margin: auto;
 /*    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
    box-shadow: rgba(62, 62, 62, 0.4) 5px 5px, rgba(188, 173, 183, 0.3) 10px 10px;
    text-align: center;
    height: 300px;
    /* display: flex;
    flex-direction: column;
    /* align-items: auto;
    background-color: #fff;
    border-radius: 12px;
    width: 700px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(159, 162, 163, 0.1);
    text-align: center; */
 }
 
 
 
 
 .imagem {
  
    object-fit: cover;
    display: block;
    width: 40%;
    /* padding-left: 0%; */
    float: left;
 }
 
 
 
 
 .informacoes {
    display: block;
    width: 60%;
    float: right;
    margin-right: 0px;
 }
 
 
 button {
    background-color: #ca7c78;
    height: 35px;
    border: none;
    border-radius: 4px;
    color: #141414;
    margin-top: auto;
    margin-bottom: 4px;
    transition: background 0.3s;
    width: 188px;
    font-size: 16px;
 }
 
 
 button:hover {
    background-color: #e6b5b5;
 }
 img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
 }
 
 
 .total {
    /* margin-top: 90%; */
    /* justify-content: center; */
    align-items: center;
    display: flex;
    background-color: #ffffff;
    border-radius: 12px;
    width: 65%;
    margin: auto;
    box-shadow: rgba(62, 62, 62, 0.4) 5px 5px, rgba(188, 173, 183, 0.3) 10px 10px;
    /* text-align: right; */
    height: 50px;
 }
 
 
 .esquerda {
    /* align-items: left;
    justify-content: left; */
     text-align: left;
   
 }
 
 
 .direita{
 display: inline-block;
 text-align: right;
 } 