body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    background-size: cover; 
    background-attachment: fixed; 
}

header {
    box-shadow: 0px 0px 20px rgba(155, 151, 151, 0.1);
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0; 
    padding: 10px;
}

header img {
    max-width: 130px; /* 150 */
    height: auto;
    display: block; 
    margin: 0 auto;
    /* display: inline-block; */
    float: left;
}

.image {
    padding-top: 5px;
    max-width: 40px; /* 57 */
    /* display: inline-block; */
    float: right;
    margin-right: 35px;
    
}

.image:hover {
    transform: scale(1.1); /* Aumenta o tamanho do ícone em 10% */
    transition: 0.5s;
}

.carrinho-link {
    position: relative;
    display: inline-block;
    left: 1575px;
}

.quantidade-no-carrinho {
    position: absolute;
    top: 6px;
    right: 37px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    transform: translate(50%, -50%); 
}


.carrinho {
    padding-top: 50px;
}