body {
   font-family: 'Roboto', sans-serif;
   background-color: #fef7cd;
   background-size: cover;
   background-attachment: fixed;
}

header {
   box-shadow: 0px 0px 20px rgba(155, 151, 151, 0.1);
   background: #fff;
   position: fixed;
   width: 100%;
   top: 0;
   padding: 10px;
}

header img {
   max-width: 130px;
   height: auto;
   display: block;
   margin: 0 auto;
   float: left;
}

.image {
   padding-top: 5px;
   max-width: 40px;
   float: right;
   margin-right: 35px;
}

.image:hover {
   transform: scale(1.1); 
   transition: 0.5s;
}

.carrinho-link {
   position: relative;
   display: inline-block;
   left: 1575px;
}

.quantidade-no-carrinho {
   position: absolute;
   top: 6px;
   right: 37px;
   background-color: red;
   color: white;
   border-radius: 50%;
   padding: 5px;
   font-size: 10px;
   transform: translate(50%, -50%);
}

.carrinho {
   display: blox;
   justify-content: center;
   align-items: column;
   padding-top: 90px;
}

.produto {
   justify-content: space-between;
   display: flex;
   background-color: #ffffff;
   border-radius: 12px;
   width: 62%;
   margin: auto;
   box-shadow: rgba(62, 62, 62, 0.4) 5px 5px, rgba(188, 173, 183, 0.3) 10px 10px;
   height: 200px;
}

h1 {
   font-family:  Tahoma, Verdana, sans-serif ;
   font-size: 19px; 
   font-weight: bold;
   color: #555; 
   margin-bottom: 10px;
}

p {
   font-family: Tahoma, sans-serif;
   font-size: 16px;
   color: #323c47;
}

.imagem {
   object-fit: cover;
   display: block;
   width: 40%;
   float: left;
}

.informacoes {
   display: flex;
   flex-direction: center;
   justify-content: space-between;
   width: 60%;
   float: right;
   margin: 5px;
   position: relative;
}

.informacoes p {
   margin-bottom: 20px;
}

.info-esquerda,
.info-direita {
   display: flex;
   flex-direction: column;
   width: 50%;
   float: left;
   text-align: left;
   margin-top: 10px;
   margin-left: 20px;
   margin-left: 40px;
}

.info-direita {
   margin-top: 20px;
   text-align: left;
}

.but-direita {
   align-self: flex-end;
   margin-top: auto;
}

button {
   background-color: #f05a52;
   font-family: Tahoma, sans-serif;
   font-size: 13px;
   font-weight: bold;
   height: 30px;
   border: none;
   border-radius: 4px;
   color: #141414;
   margin-top: auto;
   margin-bottom: 4px;
   transition: background 0.3s;
   width: 150px;
}

button:hover {
   background-color: #faa2a2;
}

img {
   width: 100%;
   height: 100%;
   border-radius: 12px;
}

.total {
   display: flex;
   align-items: center;
   background-color: #ffffff;
   border-radius: 12px;
   width: 62%;
   margin: auto;
   box-shadow: rgba(62, 62, 62, 0.4) 5px 5px, rgba(188, 173, 183, 0.3) 10px 10px;
   height: 50px;
}

.esquerda {
   text-align: left;
   flex-grow: 1;
   margin-left: 12px;

}

.direita{
   display: flex;
   justify-content: flex-end;
   text-align: center;
} 

.direita button {
   margin-right: 10px; 
}

.vazio {
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   background-color: #ffffff;
   border-radius: 12px;
   width: 62%;
   margin: auto;
   box-shadow: rgba(62, 62, 62, 0.4) 5px 5px, rgba(188, 173, 183, 0.3) 10px 10px;
   height: 150px;
}